.containerQuote {
    max-width: 800px;
    color: var(--color-white);
}

.fa-quote-right {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    opacity: 0.95;
}

.quoteText {
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-white);
}

.quoteMobile {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--color-white);
}